/* ==========================================================================
    Custom styles
   ========================================================================== */
body{

}
.navbar a{ text-align: center;
}
footer{
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
}
footer p { text-align: center;}
.yellow{
   width: 400px;
  height: 300px;    
    border-radius: 25px;

}













